.Site_Footer{
    display: flex;
    justify-content: center;
    background-color: $Color2;
    padding: 72px 0px;
    .Site_Footer_Container{
        width: 90%;
        max-width: 1200px;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-gap: 16px;
    }
}

.Footer_Container_Bloco{
    .Container_Bloco_Titulo{
        color: $Color1;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        &:after{
            display: block;
            content: ' ';
            width: 80px;
            height: 4px;
            background-color: $Color1;
            margin-top: 8px;
        }
    }
    .Container_Bloco_Texto{
        font-family: Georgia, Times, "Times New Roman", serif;
        font-size: 16px;
        line-height: 24px;
        color: $Color3;
        margin-top: 16px;
        a{
            @extend %HoverSuave;
            text-decoration: none;
            color: $Color3;
            &:hover{
                color: $Color1;
            }
        }
    }
    .Container_Bloco_IconesRedesSociais{
        margin-top: 16px;
        a{
            text-decoration: none;
            color: $Color1;
            i{
                @extend %HoverSuave;
                font-size: 24px;
                border: 2px solid $Color1;
                padding: 12px 12px;
                margin: 2px;
            }
            &:hover{
                color: $Color3;
                i{
                    border-color: $Color3;
                }
            }
        }
    }
}

.Site_FooterFinal{
    background-color: $Color1;
    display: flex;
    justify-content: center;
    padding: 16px 0px;
    .Site_FooterFinal_Container{
        width: 90%;
        max-width: 1200px;
        color: #000;
        font-size: 14px;
        line-height: 18px;
    }
}

@media screen and (max-width: 780px){
    .Site_Footer{
        .Site_Footer_Container{
            grid-template-columns: 1fr;
            .Footer_Container_Bloco{
                text-align: center;
                .Container_Bloco_Titulo{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
    .Site_FooterFinal{
        text-align: center;
    }
}