.Site_Produtos{
    display: flex;
    justify-content: center;
    padding: 80px 0px;
    .Site_Produtos_Container{
        width: 90%;
        max-width: 1200px;
        .Produtos_Container_Titulo{
            margin-bottom: 40px;
        }
        .Produtos_Container_Cards{
            position: relative;
            .slick-arrow{
                position: absolute;
                background-color: $Color3;
                width: 56px;
                height: 56px;
                border-radius: 100px;
                z-index: 99;
                color: $Color2;
                display: flex!important;
                justify-content: center;
                align-items: center;
                font-size: 24px;
                top: 45%;
                box-shadow: 0px 7px 8px #00000026;
                &.slick-prev{
                    left: 0;
                }
                &.slick-next{
                    right: 0;
                }
            }
            .slick-list{
                .slick-track{
                    display: flex!important;
                }
            }
            .Container_Cards_Item{
                margin: 0px 16px;
                height: unset;
                .Cards_Item_BlockImage{
                    background-color: $Color2;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: calc(100% - 48px);
                    padding: 24px;
                }
                .Cards_Item_BlockContent{
                    padding: 24px;
                    height: 100%;
                    background-color: $Color1;
                    .Item_BlockContent_Titulo{

                    }
                    .Item_BlockContent_Texto{
                        text-align: center;
                        font-size: 14px;
                        line-height: 18px;
                        margin-top: 24px;
                        color: $Color2;
                    }
                }
            }
        }

        .Produtos_Container_EncerramentoBlock{
            margin-top: 32px;
            .Container_EncerramentoBlock_Texto{
                text-align: center;
                font-family: Georgia,Times,"Times New Roman",serif;
                font-size: 16px;
                line-height: 24px;
            }
            .Container_EncerramentoBlock_Button{
                margin-top: 8px;
                display: flex;
                justify-content: center;
            }
        }
    }
}