.Site_Produtos{
    display: flex;
    justify-content: center;
    padding: 80px 0px;
    .Site_Produtos_Container{
        width: 90%;
        max-width: 1200px;
        .Produtos_Container_Titulo{
            margin-bottom: 40px;
        }
        .Produtos_Container_Cards{
            position: relative;
            .slick-arrow{
                position: absolute;
                background-color: $Color3;
                width: 56px;
                height: 56px;
                border-radius: 100px;
                z-index: 99;
                color: $Color2;
                display: flex!important;
                justify-content: center;
                align-items: center;
                font-size: 24px;
                top: 45%;
                box-shadow: 0px 7px 8px #00000026;
                &.slick-prev{
                    left: 0;
                }
                &.slick-next{
                    right: 0;
                }
            }
            .slick-list{
                .slick-track{
                    display: flex!important;
                }
            }
            .Container_Cards_Item{
                margin: 0px 16px;
                height: unset;
                .Cards_Item_BlockImage{
                    background-color: $Color2;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: calc(100% - 48px);
                    padding: 24px;
                }
                .Cards_Item_BlockContent{
                    padding: 24px;
                    height: 100%;
                    background-image: $GradientLaranja;
                    .Item_BlockContent_Titulo{

                    }
                    .Item_BlockContent_Texto{
                        text-align: center;
                        font-size: 14px;
                        line-height: 18px;
                        margin-top: 24px;
                        color: $Color2;
                    }
                }
            }
        }

        .Produtos_Container_EncerramentoBlock{
            margin-top: 32px;
        }
    }
}

.Produtos{
    display: flex;
    align-items: center;
    flex-direction: column;
    .Produtos_Conteudo{
        width: 90%;
        max-width: 1200px;
        margin: 64px 0px;
        .Produtos_Conteudo_BannerModelo{
            display: grid;
            grid-template-columns: 3fr 1fr;
            grid-gap: 24px;
            margin-bottom: 24px;
            .Conteudo_BannerModelo_Imagem{
                position: relative;
                width: 100%;
                padding: 109px 0px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                display: flex;
                justify-content: center;
                align-items: center;
                &:after{
                    display: block;
                    width: 100%;
                    height: 100%;
                    content: ' ';
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-image: linear-gradient(45deg, #000000, #fec63e85, #00000000);
                    z-index: 10;
                    @extend %HoverSuave;
                }
                &:hover{
                    &:after{
                        opacity: 0;
                    }
                }
                &.__BannerModelo_Foto1{
                    background-image: url('../img/produtos/imagem1.jpg');
                }
                &.__BannerModelo_Foto2{
                    background-image: url('../img/produtos/imagem2.jpg');
                }
                &.__BannerModelo_Foto3{
                    background-image: url('../img/produtos/imagem3.jpg');
                }
                .BannerModelo_Imagem_Titulo{
                    z-index: 12;
                    color: $Color3;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 32px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    &:before{
                        display: block;
                        content: ' ';
                        width: 80px;
                        height: 4px;
                        background-color: $Color3;
                        margin-bottom: 16px;
                    }
                    &:after{
                        display: block;
                        content: ' ';
                        width: 80px;
                        height: 4px;
                        background-color: $Color3;
                        margin-top: 16px;
                    }
                }
            }
            .Conteudo_BannerModelo_Icone{
                background-color: $Color2;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .Produtos_Conteudo_BannerComplexo{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 24px;
            margin-bottom: 24px;
            .Conteudo_BannerComplexo_Imagem{
                width: 100%;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                &.__is-bannerComplexo_1{
                    background-image: url('../img/produtos/imagem4.jpg');
                }
                &.__is-bannerComplexo_2{
                    background-image: url('../img/produtos/imagem5.jpg');
                }
                &.__is-bannerComplexo_3{
                    background-image: url('../img/produtos/imagem6.jpg');
                }
            }
            .Conteudo_BannerComplexo_Content{
                width: 100%;
                background-color: $Color2;
                .BannerComplexo_Content_Texto{
                    color: $Color3;
                    padding: 32px;
                    font-size: 16px;
                    line-height: 24px;
                    font-family: Georgia,Times,"Times New Roman",serif;
                }
                .BannerComplexo_Content_Grid{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 2px;
                    .Content_Grid_Item{
                        @extend %HoverSuave;
                        background-color: $Color1;;
                        color: $Color2;
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: 18px;
                        text-align: center;
                        padding: 12px;
                        cursor: pointer;
                        &:hover{
                            background-color: #2f2f2f;
                            color: $Color3;
                        }
                    }
                }
            }
        }
    }
}
.Produtos_Orcamento{
    background-color: $Color2;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 64px 0px;
    .Produtos_Orcamento_Container{
        width: 90%;
        max-width: 1200px;
        .Orcamento_Container_Conteudo{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 64px;
            margin-top: 40px;
            .Container_Conteudo_Secundario{
                .Conteudo_Secundario_Bloco{
                    margin-bottom: 32px;
                    .Secundario_Bloco_Titulo{
                        text-transform: uppercase;
                        color: $Color1;
                        font-weight: 700;
                        font-size: 20px;
                    }
                    .Secundario_Bloco_Texto{
                        margin-top: 6px;
                        color: $Color3;
                        font-size: 16px;
                        line-height: 24px;
                        font-family: Georgia,Times,"Times New Roman",serif;
                        a{
                            @extend %HoverSuave;
                            text-decoration: none;
                            color: $Color3;
                            &:hover{
                                color: $Color1;
                            }
                        }
                    }
                    .Secundario_Bloco_Options{
                        .Bloco_Options_Item{
                            select{
                                width: 100%;
                                padding: 12px;
                                margin-top: 8px;
                                border: none;
                                color: #fff;
                            }
                            &.__is-Cinza{
                                select{
                                    background-color: #292929;
                                }
                            }
                            &.__is-Preto{
                                select{
                                    background-color: #0a0a0a;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 780px){
    .Produtos{
        .Produtos_Conteudo{
            .Produtos_Conteudo_BannerModelo{
                grid-template-columns: 1fr;
                .Conteudo_BannerModelo_Icone{
                    padding: 48px 0px;
                }
            }
            .Produtos_Conteudo_BannerComplexo{
                grid-template-columns: 1fr;
                .Conteudo_BannerComplexo_Content{
                    .BannerComplexo_Content_Texto{
                        text-align: center;
                    }
                }
            }
        }
        .Produtos_Orcamento{
            .Produtos_Orcamento_Container{
                .Orcamento_Container_Conteudo{
                    display: flex;
                    flex-direction: column-reverse;
                }
            }
        }
    }
}

@media screen and (max-width: 480px){
    .Site_Produtos{
        .Site_Produtos_Container{
            width: 100%;
            .Produtos_Container_Cards{
                .Container_Cards_Item{
                    margin: 0px 24px;
                }
            }
        }
    }
}