.Site_Superbanner{
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    padding: 80px 0px;
    &.__is-banner1{
        background-image: url('../img/superbanner/bg-superbanner1.jpg');
    }
    .Site_Superbanner_Container{
        width: 90%;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .Superbanner_Container_Subtitulo{
            color: $Color3;
            text-align: center;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 24px 0px;
            font-style: italic;
            max-width: 320px;
            font-family: Georgia, Times, "Times New Roman", serif;
            &:after{
                display: block;
                content: ' ';
                width: 80px;
                height: 4px;
                background-color: $Color3;
                margin-top: 8px;
            }
        }
        .Superbanner_Container_SubtituloAutor{
            text-align: center;
            font-size: 14px;
            font-weight: 700;
            color: $Color3;
        }
        .Superbanner_Container_Button{
            .Container_Button_Content{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 40px;
            }
        }
    }
}

.Site_Superbanner_Encerramento{
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    padding: 80px 0px;
    position: relative;
    &:after{
        display: block;
        content: ' ';
        height: 100%;
        width: 100%;
        background-color: #fec63ee6;
        top: 0;
        left: 0;
        position: absolute;
    }
    &.__is-banner1{
        background-image: url('../img/superbanner/bg-superbanner-final.jpg');
    }
    .Superbanner_Encerramento_Container{
        width: 90%;
        max-width: 1200px;
        z-index: 99;
        display: flex;
        justify-content: center;
        .Encerramento_Container_Subtitulo{
            color: $Color2;
            text-align: center;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 24px 0px;
            font-style: italic;
            max-width: 480px;
            font-family: Georgia, Times, "Times New Roman", serif;
            &:before{
                display: block;
                content: ' ';
                width: 80px;
                height: 4px;
                background-color: $Color2;
                margin-bottom: 16px;
            }
            &:after{
                display: block;
                content: ' ';
                width: 80px;
                height: 4px;
                background-color: $Color2;
                margin-top: 16px;
            }
        }
    }
}